@model List<Notification>
    <br />
    <br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th width="20%">ID</th>
                    <th width="80%">Message</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (Notification notification in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => notification.ID)</td>
                            <td>@Html.DisplayFor(modelItem => notification.Message)</td>                                      
                        </tr>
                    }
            </tbody>
        </table>
        <br />
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th width="33%">Send Message To</th>
                    <th width="33%">Form to fill in</th>
                    <th width="34%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form method="post" asp-controller="Notifications" asp-action="SendNotification"> 
                    <td>
                        User
                    </td>
                    <td>
                        <input asp-for="Username" type="text" placeholder="Enter username of user"/>
                        <input asp-for="Message" type="text" placeholder="Enter the message"/>
                    </td>
                    <td>
                        <input class="btn btn-success" type="submit" value="Send"/>
                    </td>
                    </form>
                </tr>
                <tr>
                    <form method="post" asp-controller="Notifications" asp-action="SendNotificationToGroup">
                        <td>
                            All Users with given role
                        </td>
                        <td>
                            <input asp-for="Role" type="text" placeholder="Enter role" />
                            <input asp-for="Message" type="text" placeholder="Enter the message" />
                        </td>
                        <td>
                            <input class="btn btn-success" type="submit" value="Send"/>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</div>