@{
    ViewData["Title"] = "Home Page";
}

<h3>Schedule</h3>
<li><a asp-area="" asp-controller="Rooms" asp-action="Index">Schedule Page</a></li>
<h3>Register</h3>
<li><a asp-area="" asp-controller="Home" asp-action="Register">Register Page</a></li>

<h3>Login</h3>
<li><a asp-area="" asp-controller="Home" asp-action="Login">Login Page</a></li>

<h3>Pages only for Admin</h3>
<li><a asp-area="" asp-controller="Admin" asp-action="usersOverview">Overview Of Users Page</a></li>


