@model CredentialsViewModel
@{
    ViewData["Title"] = "Login Page";
}

<br>
<br>

<div class="col-md-10 col-md-offset-1" style="padding-top:10px;">
    <div class="well">
        <table class="table table-bordered">
            <thead>
                @if (@ViewBag.succeed == "failed")
                {
                    <td colspan="3">
                        <div class="alert alert-danger">
                            <strong>Error: </strong> The login credentials you entered were not right, please try again.
                        </div>
                    </td>
                }
                else if(@ViewBag.internet == false)
                {
                    <td colspan="3">
                        <div class="alert alert-danger">
                            <strong>Error: </strong> Make sure you have connection with the internet.
                        </div>
                    </td>
                }
                <tr class="success">
                    <th colspan="2">
                        User Login
                    </th>
                </tr>
            </thead>
            <tbody>
                <form method="post" asp-controller="Home" asp-action="Login">
                <tr>
                    <td>Email</td>
                    <td><input asp-for="email" id="emailCheck"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input asp-for="password" id="passwordCheck"></td>
                </tr>
                <tr class="success">
                    <td colspan="2">
                        <input id="loginButton" class="btn btn-success" type="submit" value="Login" />
                    </td>
                </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function(){
            $('#loginButton').attr('disabled', true);
        
            $('#passwordCheck').keyup(function(){
                if($('#passwordCheck').val().length != 0 && $('#emailCheck').val().length != 0)
                    $('#loginButton').attr('disabled', false);
                else
                    $('#loginButton').attr('disabled', true);
            });

            $('#emailCheck').keyup(function(){
                if($('#emailCheck').val().length != 0 && $('#passwordCheck').val().length != 0)
                    $('#loginButton').attr('disabled', false);
                else
                    $('#loginButton').attr('disabled', true);
            });
        });
    </script>
}