@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Not Authorized";
}

<div class="col-md-10 col-md-offset-1" style="padding-top:10px;">
    <div class="well">
        <div class="alert alert-danger">
            <strong>Error: </strong> You are not authorized to access this page.
        </div>
    </div>
</div>
