@model ict_lab_website.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomCode)
        </dd>
    </dl>

    <h4>Reservations</h4>
    <table class="table table-striped table" >
        <thead>
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>Reservations will be displayed here.</td>
          </tr>
        </tbody>
    </table>

    <ul>

</div>



<div>
   <a asp-action="AddReservation">Add reservation</a>
    <a asp-action="Index">Back to list</a>
</div>
