@model RoomScheduleViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr class="success">
            <th colspan="8">Reservations</th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Room.RoomSchedule.GetReservationsForMonth(Model.DateAndTime).Count; i += 7)
        {

            <tr>
                @for (int j = i; j <= i + 7; j++)
                {
                    if (j > Model.Room.RoomSchedule.GetReservationsForMonth(Model.DateAndTime).Count)
                    {
                        break;
                    }
                    <td>
                        <a asp-action="Schedule" asp-route-id="@Model.Room.Id" asp-route-view="@ScheduleView.Day" asp-route-dateTime="@Model.DateAndTime.Year-@Model.DateAndTime.Month-@j">
                            <div style="width:100%; height:100%">@j</div>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

