@model Room

<h2>This is a placeholder for the 'week' view</h2>
<hr />
<ol>
    @foreach (Reservation reservation in Model.Reservations)
    {
        <li><b>@reservation.Subject</b>: @reservation.Reserver - <i> At @reservation.DateAndTime , for @reservation.Length hours</i></li>
    }
</ol>

