@model ict_lab_website.Models.Room

@{
    ViewData["Title"] = "Schedule";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">@Model.RoomCode</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-action="AddReservation"> <span class= "glyphicon glyphicon-plus"></span>Add reservation</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-chevron-left"></span>29 March 2018<span class="glyphicon glyphicon-chevron-right"></span>
                </p>
            </li>
        </ul>
        <form class="navbar-form navbar-right" asp-controller="Rooms" asp-action="Schedule" method="get">
            <select name="View">
                <option value="">Day</option>
                <option value="">Week</option>
                <option value="">Month</option>
                <option value="">Year</option>
            </select>
        </form>
    </div>
</nav>

<main>
    @Html.Partial("ScheduleViewDay", Model)
</main>


