@model RoomReservationsViewModel

<h2>Reservations for @Model.DateAndTime.Year</h2>
<hr />
<ol>
    @foreach (var reservation in Model.Reservations)
    {
        <li><b>@reservation.Subject</b>: @reservation.Reserver - <i> At @reservation.Date, for - hours</i></li>
    }
</ol>

